{% extends 'back.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">User table</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <div>

                        {{ form_start(form) }}
                        {{ form_row(form.nom, { 'attr': {'class': 'form-control'} }) }}


                        <div class="register-btn-container">

                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                            {{ form_end(form) }}
                    </div>
                    <table class="table align-items-center mb-0">
                        <tr>
                            <th scope="col">Id</th>

                            <th scope="col">Nom</th>

                            <th scope="col">prenom</th>

                            <th scope="col">dateNaissance</th>

                            <th scope="col">email</th>

                            <th scope="col">password</th>

                            <th scope="col">adresse</th>

                            <th scope="col">referenceClient</th>

                            <th scope="col">Numero</th>

                            <th scope="col">civilite</th>

                            <th scope="col">privilege</th>

                            <th scope="col">Maladie</th>

                            <th scope="col">mode</th>
                            <th scope="col">services</th>

                        </tr>


                        {% for f in c %}
                            <tr >
                                <td>{{ f.id }}</td>


                                <td>{{ f.nom }}</td>


                                <td>{{ f.prenom }}</td>


                                <td>{{ f.dateNaissance }}</td>


                                <td>{{ f.mail }}</td>


                                <td>{{ f.password }}</td>


                                <td>{{ f.adresse }}</td>

                                <td>{{ f.referenceClient }}</td>

                                <td>{{ f.numero }}</td>

                                <td>{{ f.civilite }}</td>

                                <td>{{ f.privilege }}</td>

                                <td>{{ f.maladie }}</td>

                                <td>{{ f.mode }}</td>
                                <td><a href="{{ path('D',{'id':f.id}) }}" class="btn btn-danger deletebtn">Delete</a></td>
                                <td><a href="{{ path('UA',{'id':f.id}) }}" class="btn btn-primary">Update</a></td>
                                <td><a href="{{ path('ACTIVER',{'id':f.id}) }}" class="btn btn-primary">Activer le compte</a></td>
                                <td><a href="{{ path('DESACTIVERAD',{'id':f.id}) }}" class="btn btn-primary">Desactiver le compte</a></td>

                            </tr>
                        {% endfor %}


                    </table>

                </div>

            </div>
            <a class="btn btn-primary" href="{{ path('facture_list')}}"> Imprimer</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Suivi table</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <tr>
                            <th>IdSuivi</th>

                            <th>Iduser</th>

                            <th>DateSuivi</th>

                            <th>Taille</th>

                            <th>Poids</th>

                            <th>glycemie</th>

                            <th>petitdej</th>

                            <th>repas</th>

                            <th>Diner</th>

                            <th>Notes</th>


                            <th>services</th>

                        </tr>
                        <tbody>
                        {% for f in s %}
                            <tr>

                                <td>{{ f.idsuivi }}</td>


                                <td>{{ f.iduser.id }}</td>


                                <td>{{ f.datesuivi }}</td>


                                <td>{{ f.taille }}</td>


                                <td>{{ f.poid }}</td>


                                <td>{{ f.glycemie }}</td>


                                <td>{{ f.petitdej }}</td>

                                <td>{{ f.repas }}</td>

                                <td>{{ f.diner }}</td>

                                <td>{{ f.notes }}</td>


                                <td><a href="{{ path('DS',{'id':f.idsuivi }) }}" class="btn btn-danger deletebtn">Delete</a></td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}